@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asap:ital@1&family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@1,400;1,600&family=Lobster&display=swap');


* {
	box-sizing: border-box;
    margin: 0;
}

body {
	margin-top: 0px;
	width: 100vw;
	min-height: 100vh;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}  

.navbar {
	margin-top: 0px;
	background-color: #cfcfcf !important;
	width: 100vw;
	box-shadow: 0 0 10px #4b4b4b;
}

.container-fluid {
	display: flex !important;
	justify-content: space-between !important;
}

.navbar-nav {
	display: flex;
	justify-content: space-evenly;
	width: 100%;
}

.logo {
	width: 125px;
    padding-right: 50px;
    border-right: 3px solid rgb(0, 0, 0);
}

.title {
	font-weight: 1000;
	padding-left: 40px;
}

.navbar-collapse {
	flex-grow: 0 !important;
	width: 50vw;
	min-width: 510px;
	max-width: 764px;
}

.btn-outline-secondary:hover {
	color: white !important;
	background-color: #393e46 !important;
}

button {
	border-color: #393e46;
}

.nav-item {
	width: 12vw;
	max-width: 140px;
}

.carousel-image {
	height: 70vh;
	object-fit: cover; 
	object-position: 50% 52%;
}

#carousel {
	top: 2vh;
}

.center {
	display: flex;
	justify-content: center;
	margin-top: 10vh;
}

.container-desc {
	display: flex;
	justify-content: center;
	width: 80vw;
}

.desc {
	background: #cfcfcf;
	border-radius: 20px;
	padding: 2em;
}

.separator {
	border: .2px solid #393e46;
	height: 100%;
	margin-left: 5vw;
	margin-right: 5vw;
}


/*pagina catalogo*/

div.container-fluid.cards {
	margin-top: 5vh;
	padding-left: .5vw !important;
}

.title-2 {
	font-family: 'Lobster', cursive;
	/* font-family: 'Asap', sans-serif; */
}

.filters {
	width: 20vw !important;
	max-width: 200px !important;
	min-width: 150px !important;
	margin-right: .5vw;
}

.filters-position {
	position: fixed;
	width: 16vw !important;
	max-width: 200px !important;
	min-width: 150px !important;
}

.btn-outline-success {
	color: #393e46 !important;
    border-color: #393e46 !important;
}

.btn-outline-success:hover {
	color: white !important;
    background-color: #393e46 !important;
}

.d-flex {
	max-width: 100%;
}

.row {
	justify-content: space-evenly;
}

div.col-12.col-md-4 {
	max-width: 460px !important;
}

/* .card-section {
	border: 2px solid #dfdfdf;
	border-radius: 10px;
	margin: 0.2vw;
} */

.card {
	border: none !important;
}

.card-body {
	max-height: 140px;
}

img {
	height: 50%;
	object-fit: cover;
}